*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hero and system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: #1F2937;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 150px;
    margin-right: auto;
    width: 50% vw;
    font-weight: 900;
    
}

.navbar{
    width:50%vw;
    margin-right: 190px;
    margin-left: auto;
   justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: #F9FAF8;
    margin-left: 20px;
}
a:hover{
    text-decoration: underline;
}

.upp{
    background-color: #1F2937;
    height: 450px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.intro{
    color: #F9FAF8;
    width: 32%vw;
    margin-right: 190px;
    margin-left: auto;
}
.intro p{
    font-size: 18px;
}

.photo{
    margin-right: 190px;
    margin-left: auto;
}

.photo img{
    /* border: 1px solid #ccc; */
    border-radius: 10px;
}

button{
    margin-top: 5px;
    background-color: #3882f6;
    border: none;
    text-align: center;
    text-decoration: none;
    height: 25px;
    width: 70px;
    border-radius: 5px;
    color:#F9FAF8;
}

.sec2{
    height: 350px;
    width: 100%vw;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
}

.heading{
    /* margin: 20px; */
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #1f2937;
    font-size: 25px;
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    color: #333333;
    text-align: center;
}

.item img{
    height:150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.quote{
    height: 250px;
    background-color: #e5e7eb;
    font-size: 25px ;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote span{
    display: flex;
   justify-content: flex-end;
   font-weight: 750;
   text-decoration: none;
}


.sec3{
    height: 250px;
   padding: 20px;
   align-items: center;
   display: flex;
   justify-content:center;
   
}
.box{
    background-color:#3882f6;
    display: flex;
    border: 1px;
    border-radius: 5px;
    width: 65%;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.box button{
    border: 1px solid #F9FAF8 ;
}

.final-text{
    color: #F9FAF8;
    margin: 0 auto 0 auto;
}
.final-text p{
    font-size: 12px;
}

.signup{
    margin: 0 auto 0 auto;
}

.sec4{
    height: 60px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-box{
    color: #F9FAF8;
    
}

